In [1]:
import pandas as pd

import numpy as np

In [2]:
from pydataset import data

initiated datasets repo at: /Users/john/.pydataset/

In [3]:
# data('mpg', show_doc=True) # view the documentation for the dataset
mpg = data('mpg') # load the dataset and store it in a variable

In [4]:
data('mpg', show_doc=True)

mpg

PyDataset Documentation (adopted from R Documentation. The displayed examples are in R)

## Fuel economy data from 1999 and 2008 for 38 popular models of car

### Description

This dataset contains a subset of the fuel economy data that the EPA makes
available on http://fueleconomy.gov. It contains only models which had a new
release every year between 1999 and 2008 - this was used as a proxy for the
popularity of the car.

### Usage

    data(mpg)

### Format

A data frame with 234 rows and 11 variables

### Details

  * manufacturer.

  * model.

  * displ. engine displacement, in litres

  * year.

  * cyl. number of cylinders

  * trans. type of transmission

  * drv. f = front-wheel drive, r = rear wheel drive, 4 = 4wd

  * cty. city miles per gallon

  * hwy. highway miles per gallon

  * fl.

  * class.

# 1. Copy the code from the lesson to create a dataframe full of student grades.

In [5]:
np.random.seed(123)

students = ['Sally', 'Jane', 'Suzie', 'Billy', 'Ada', 'John', 'Thomas',
            'Marie', 'Albert', 'Richard', 'Isaac', 'Alan']

# randomly generate scores for each student for each subject
# note that all the values need to have the same length here
math_grades = np.random.randint(low=60, high=100, size=len(students))
english_grades = np.random.randint(low=60, high=100, size=len(students))
reading_grades = np.random.randint(low=60, high=100, size=len(students))

df = pd.DataFrame({'name': students,
                   'math': math_grades,
                   'english': english_grades,
                   'reading': reading_grades})

type(df)

pandas.core.frame.DataFrame

In [6]:
df

       name  math  english  reading
0     Sally    62       85       80
1      Jane    88       79       67
2     Suzie    94       74       95
3     Billy    98       96       88
4       Ada    77       92       98
5      John    79       76       93
6    Thomas    82       64       81
7     Marie    93       63       90
8    Albert    92       62       87
9   Richard    69       80       94
10    Isaac    92       99       93
11     Alan    92       62       72

## A. Create a column named passing_english that indicates whether each student has a passing grade in english.

In [7]:
df['passing_math'] = df.math > 70

In [8]:
df

       name  math  english  reading  passing_math
0     Sally    62       85       80         False
1      Jane    88       79       67          True
2     Suzie    94       74       95          True
3     Billy    98       96       88          True
4       Ada    77       92       98          True
5      John    79       76       93          True
6    Thomas    82       64       81          True
7     Marie    93       63       90          True
8    Albert    92       62       87          True
9   Richard    69       80       94         False
10    Isaac    92       99       93          True
11     Alan    92       62       72          True

## B. Sort the english grades by the passing_english column. How are duplicates handled?

In [10]:
df['passing_english'] = df.english > 70

df.sort_values(by='passing_english')

#duplicates sorted by this value are sorted by order of index

       name  math  english  reading  passing_math  passing_english
6    Thomas    82       64       81          True            False
7     Marie    93       63       90          True            False
8    Albert    92       62       87          True            False
11     Alan    92       62       72          True            False
0     Sally    62       85       80         False             True
1      Jane    88       79       67          True             True
2     Suzie    94       74       95          True             True
3     Billy    98       96       88          True             True
4       Ada    77       92       98          True             True
5      John    79       76       93          True             True
9   Richard    69       80       94         False             True
10    Isaac    92       99       93          True             True

## C. Sort the english grades first by passing_english and then by student name. All the students that are failing english should be first, and within the students that are failing english they should be ordered alphabetically. The same should be true for the students passing english. (Hint: you can pass a list to the .sort_values method)

In [12]:
df['passing_english'] = df.english > 70

df.sort_values(by=['passing_english', 'name'])

       name  math  english  reading  passing_math  passing_english
11     Alan    92       62       72          True            False
8    Albert    92       62       87          True            False
7     Marie    93       63       90          True            False
6    Thomas    82       64       81          True            False
4       Ada    77       92       98          True             True
3     Billy    98       96       88          True             True
10    Isaac    92       99       93          True             True
1      Jane    88       79       67          True             True
5      John    79       76       93          True             True
9   Richard    69       80       94         False             True
0     Sally    62       85       80         False             True
2     Suzie    94       74       95          True             True

## D. Sort the english grades first by passing_english, and then by the actual english grade, similar to how we did in the last step.

In [14]:
df['passing_english'] = df.english > 70

df.sort_values(by=['passing_english', 'english'], ascending=[True, False])

       name  math  english  reading  passing_math  passing_english
6    Thomas    82       64       81          True            False
7     Marie    93       63       90          True            False
8    Albert    92       62       87          True            False
11     Alan    92       62       72          True            False
10    Isaac    92       99       93          True             True
3     Billy    98       96       88          True             True
4       Ada    77       92       98          True             True
0     Sally    62       85       80         False             True
9   Richard    69       80       94         False             True
1      Jane    88       79       67          True             True
5      John    79       76       93          True             True
2     Suzie    94       74       95          True             True

## E. Calculate each students overall grade and add it as a column on the dataframe. The overall grade is the average of the math, english, and reading grades.

In [15]:
df['overall_average'] = (df.math + df.english + df.reading) / 3

df

,name,math,english,reading,passing_math,passing_english,overall_average
0,Sally,62,85,80,False,True,75.666667
1,Jane,88,79,67,True,True,78.000000
2,Suzie,94,74,95,True,True,87.666667
3,Billy,98,96,88,True,True,94.000000
4,Ada,77,92,98,True,True,89.000000
5,John,79,76,93,True,True,82.666667
6,Thomas,82,64,81,True,False,75.666667
7,Marie,93,63,90,True,False,82.000000
8,Albert,92,62,87,True,False,80.333333
9,Richard,69,80,94,False,True,81.000000
10,Isaac,92,99,93,True,True,94.666667
11,Alan,92,62,72,True,False,75.333333

# 2. Load the mpg dataset. Read the documentation for the dataset and use it for the following questions:

In [16]:
mpg = data('mpg')

In [18]:
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [17]:
data('mpg', show_doc=True)

mpg

PyDataset Documentation (adopted from R Documentation. The displayed examples are in R)

## Fuel economy data from 1999 and 2008 for 38 popular models of car

### Description

This dataset contains a subset of the fuel economy data that the EPA makes
available on http://fueleconomy.gov. It contains only models which had a new
release every year between 1999 and 2008 - this was used as a proxy for the
popularity of the car.

### Usage

    data(mpg)

### Format

A data frame with 234 rows and 11 variables

### Details

  * manufacturer.

  * model.

  * displ. engine displacement, in litres

  * year.

  * cyl. number of cylinders

  * trans. type of transmission

  * drv. f = front-wheel drive, r = rear wheel drive, 4 = 4wd

  * cty. city miles per gallon

  * hwy. highway miles per gallon

  * fl.

  * class.

## A. How many rows and columns are there?

In [20]:
mpg.shape

#234 rows, 11 columns

(234, 11)

## B. What are the data types of each column?

In [22]:
mpg.dtypes

manufacturer     object
model            object
displ           float64
year              int64
cyl               int64
trans            object
drv              object
cty               int64
hwy               int64
fl               object
class            object
dtype: object

## C. Summarize the dataframe with .info and .describe

In [23]:
mpg.info

<bound method DataFrame.info of     manufacturer   model  displ  year  cyl       trans drv  cty  hwy fl  \
1           audi      a4    1.8  1999    4    auto(l5)   f   18   29  p
2           audi      a4    1.8  1999    4  manual(m5)   f   21   29  p
3           audi      a4    2.0  2008    4  manual(m6)   f   20   31  p
4           audi      a4    2.0  2008    4    auto(av)   f   21   30  p
5           audi      a4    2.8  1999    6    auto(l5)   f   16   26  p
..           ...     ...    ...   ...  ...         ...  ..  ...  ... ..
230   volkswagen  passat    2.0  2008    4    auto(s6)   f   19   28  p
231   volkswagen  passat    2.0  2008    4  manual(m6)   f   21   29  p
232   volkswagen  passat    2.8  1999    6    auto(l5)   f   16   26  p
233   volkswagen  passat    2.8  1999    6  manual(m5)   f   18   26  p
234   volkswagen  passat    3.6  2008    6    auto(s6)   f   17   26  p

       class
1    compact
2    compact
3    compact
4    compact
5    compact
..       ...
230  midsize
231  midsize
232  midsize
233  midsize
234  midsize

[234 rows x 11 columns]>

In [24]:
mpg.describe

<bound method NDFrame.describe of     manufacturer   model  displ  year  cyl       trans drv  cty  hwy fl  \
1           audi      a4    1.8  1999    4    auto(l5)   f   18   29  p
2           audi      a4    1.8  1999    4  manual(m5)   f   21   29  p
3           audi      a4    2.0  2008    4  manual(m6)   f   20   31  p
4           audi      a4    2.0  2008    4    auto(av)   f   21   30  p
5           audi      a4    2.8  1999    6    auto(l5)   f   16   26  p
..           ...     ...    ...   ...  ...         ...  ..  ...  ... ..
230   volkswagen  passat    2.0  2008    4    auto(s6)   f   19   28  p
231   volkswagen  passat    2.0  2008    4  manual(m6)   f   21   29  p
232   volkswagen  passat    2.8  1999    6    auto(l5)   f   16   26  p
233   volkswagen  passat    2.8  1999    6  manual(m5)   f   18   26  p
234   volkswagen  passat    3.6  2008    6    auto(s6)   f   17   26  p

       class
1    compact
2    compact
3    compact
4    compact
5    compact
..       ...
230  midsize
231  midsize
232  midsize
233  midsize
234  midsize

[234 rows x 11 columns]>

## D. Rename the cty column to city.

In [27]:
mpg = mpg.rename(columns={'cty': 'city'})

mpg

,manufacturer,model,displ,year,cyl,trans,drv,city,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

## E. Rename the hwy column to highway.

In [30]:
mpg = mpg.rename(columns={'hwy': 'highway'})

mpg

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

## F. Do any cars have better city mileage than highway mileage?

In [33]:
mpg[mpg.city > mpg.highway]

Empty DataFrame
Columns: [manufacturer, model, displ, year, cyl, trans, drv, city, highway, fl, class]
Index: []

## G. Create a column named mileage_difference this column should contain the difference between highway and city mileage for each car.

In [35]:
mpg['mileage_difference'] = mpg.highway - mpg.city

mpg

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10
...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,9
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,8
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,10
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,8
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,9

## H. Which car (or cars) has the highest mileage difference?

In [39]:
mpg.sort_values(by='mileage_difference', ascending=False).head()

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference
107,honda,civic,1.8,2008,4,auto(l5),f,24,36,c,subcompact,12
223,volkswagen,new beetle,1.9,1999,4,auto(l4),f,29,41,d,subcompact,12
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11
229,volkswagen,passat,1.8,1999,4,auto(l5),f,18,29,p,midsize,11
36,chevrolet,malibu,3.5,2008,6,auto(l4),f,18,29,r,midsize,11

## I. Which compact class car has the lowest highway mileage? The best?

In [64]:
compact_cars = mpg[mpg['class'].str.contains('compact')]

compact_cars

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference,average_mileage
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11,25.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10,21.0
6,audi,a4,2.8,1999,6,manual(m5),f,18,26,p,compact,8,22.0
7,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact,9,22.5
8,audi,a4 quattro,1.8,1999,4,manual(m5),4,18,26,p,compact,8,22.0
9,audi,a4 quattro,1.8,1999,4,auto(l5),4,16,25,p,compact,9,20.5
10,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact,8,24.0
11,audi,a4 quattro,2.0,2008,4,auto(s6),4,19,27,p,compact,8,23.0
12,audi,a4 quattro,2.8,1999,6,auto(l5),4,15,25,p,compact,10,20.0
13,audi,a4 quattro,2.8,1999,6,manual(m5),4,17,25,p,compact,8,21.0
14,audi,a4 quattro,3.1,2008,6,auto(s6),4,17,25,p,compact,8,21.0
15,audi,a4 quattro,3.1,2008,6,manual(m6),4,15,25,p,compact,10,20.0
91,ford,mustang,3.8,1999,6,manual(m5),r,18,26,r,subcompact,8,22.0
92,ford,mustang,3.8,1999,6,auto(l4),r,18,25,r,subcompact,7,21.5
93,ford,mustang,4.0,2008,6,manual(m5),r,17,26,r,subcompact,9,21.5
94,ford,mustang,4.0,2008,6,auto(l5),r,16,24,r,subcompact,8,20.0
95,ford,mustang,4.6,1999,8,auto(l4),r,15,21,r,subcompact,6,18.0
96,ford,mustang,4.6,1999,8,manual(m5),r,15,22,r,subcompact,7,18.5
97,ford,mustang,4.6,2008,8,manual(m5),r,15,23,r,subcompact,8,19.0
98,ford,mustang,4.6,2008,8,auto(l5),r,15,22,r,subcompact,7,18.5
99,ford,mustang,5.4,2008,8,manual(m6),r,14,20,p,subcompact,6,17.0
100,honda,civic,1.6,1999,4,manual(m5),f,28,33,r,subcompact,5,30.5
101,honda,civic,1.6,1999,4,auto(l4),f,24,32,r,subcompact,8,28.0
102,honda,civic,1.6,1999,4,manual(m5),f,25,32,r,subcompact,7,28.5
103,honda,civic,1.6,1999,4,manual(m5),f,23,29,p,subcompact,6,26.0
104,honda,civic,1.6,1999,4,auto(l4),f,24,32,r,subcompact,8,28.0
105,honda,civic,1.8,2008,4,manual(m5),f,26,34,r,subcompact,8,30.0
106,honda,civic,1.8,2008,4,auto(l5),f,25,36,r,subcompact,11,30.5
107,honda,civic,1.8,2008,4,auto(l5),f,24,36,c,subcompact,12,30.0
108,honda,civic,2.0,2008,4,manual(m6),f,21,29,p,subcompact,8,25.0
116,hyundai,tiburon,2.0,1999,4,auto(l4),f,19,26,r,subcompact,7,22.5
117,hyundai,tiburon,2.0,1999,4,manual(m5),f,19,29,r,subcompact,10,24.0
118,hyundai,tiburon,2.0,2008,4,manual(m5),f,20,28,r,subcompact,8,24.0
119,hyundai,tiburon,2.0,2008,4,auto(l4),f,20,27,r,subcompact,7,23.5
120,hyundai,tiburon,2.7,2008,6,auto(l4),f,17,24,r,subcompact,7,20.5
121,hyundai,tiburon,2.7,2008,6,manual(m6),f,16,24,r,subcompact,8,20.0
122,hyundai,tiburon,2.7,2008,6,manual(m5),f,17,24,r,subcompact,7,20.5
142,nissan,altima,2.4,1999,4,manual(m5),f,21,29,r,compact,8,25.0
143,nissan,altima,2.4,1999,4,auto(l4),f,19,27,r,compact,8,23.0
166,subaru,impreza awd,2.2,1999,4,auto(l4),4,21,26,r,subcompact,5,23.5
167,subaru,impreza awd,2.2,1999,4,manual(m5),4,19,26,r,subcompact,7,22.5
168,subaru,impreza awd,2.5,1999,4,manual(m5),4,19,26,r,subcompact,7,22.5
169,subaru,impreza awd,2.5,1999,4,auto(l4),4,19,26,r,subcompact,7,22.5
170,subaru,impreza awd,2.5,2008,4,auto(s4),4,20,25,p,compact,5,22.5
171,subaru,impreza awd,2.5,2008,4,auto(s4),4,20,27,r,compact,7,23.5
172,subaru,impreza awd,2.5,2008,4,manual(m5),4,19,25,p,compact,6,22.0
173,subaru,impreza awd,2.5,2008,4,manual(m5),4,20,27,r,compact,7,23.5
187,toyota,camry solara,2.2,1999,4,auto(l4),f,21,27,r,compact,6,24.0
188,toyota,camry solara,2.2,1999,4,manual(m5),f,21,29,r,compact,8,25.0
189,toyota,camry solara,2.4,2008,4,manual(m5),f,21,31,r,compact,10,26.0
190,toyota,camry solara,2.4,2008,4,auto(s5),f,22,31,r,compact,9,26.5
191,toyota,camry solara,3.0,1999,6,auto(l4),f,18,26,r,compact,8,22.0
192,toyota,camry solara,3.0,1999,6,manual(m5),f,18,26,r,compact,8,22.0
193,toyota,camry solara,3.3,2008,6,auto(s5),f,18,27,r,compact,9,22.5
194,toyota,corolla,1.8,1999,4,auto(l3),f,24,30,r,compact,6,27.0
195,toyota,corolla,1.8,1999,4,auto(l4),f,24,33,r,compact,9,28.5
196,toyota,corolla,1.8,1999,4,manual(m5),f,26,35,r,compact,9,30.5
197,toyota,corolla,1.8,2008,4,manual(m5),f,28,37,r,compact,9,32.5
198,toyota,corolla,1.8,2008,4,auto(l4),f,26,35,r,compact,9,30.5
208,volkswagen,gti,2.0,1999,4,manual(m5),f,21,29,r,compact,8,25.0
209,volkswagen,gti,2.0,1999,4,auto(l4),f,19,26,r,compact,7,22.5
210,volkswagen,gti,2.0,2008,4,manual(m6),f,21,29,p,compact,8,25.0
211,volkswagen,gti,2.0,2008,4,auto(s6),f,22,29,p,compact,7,25.5
212,volkswagen,gti,2.8,1999,6,manual(m5),f,17,24,r,compact,7,20.5
213,volkswagen,jetta,1.9,1999,4,manual(m5),f,33,44,d,compact,11,38.5
214,volkswagen,jetta,2.0,1999,4,manual(m5),f,21,29,r,compact,8,25.0
215,volkswagen,jetta,2.0,1999,4,auto(l4),f,19,26,r,compact,7,22.5
216,volkswagen,jetta,2.0,2008,4,auto(s6),f,22,29,p,compact,7,25.5
217,volkswagen,jetta,2.0,2008,4,manual(m6),f,21,29,p,compact,8,25.0
218,volkswagen,jetta,2.5,2008,5,auto(s6),f,21,29,r,compact,8,25.0
219,volkswagen,jetta,2.5,2008,5,manual(m5),f,21,29,r,compact,8,25.0
220,volkswagen,jetta,2.8,1999,6,auto(l4),f,16,23,r,compact,7,19.5
221,volkswagen,jetta,2.8,1999,6,manual(m5),f,17,24,r,compact,7,20.5
222,volkswagen,new beetle,1.9,1999,4,manual(m5),f,35,44,d,subcompact,9,39.5
223,volkswagen,new beetle,1.9,1999,4,auto(l4),f,29,41,d,subcompact,12,35.0
224,volkswagen,new beetle,2.0,1999,4,manual(m5),f,21,29,r,subcompact,8,25.0
225,volkswagen,new beetle,2.0,1999,4,auto(l4),f,19,26,r,subcompact,7,22.5
226,volkswagen,new beetle,2.5,2008,5,manual(m5),f,20,28,r,subcompact,8,24.0
227,volkswagen,new beetle,2.5,2008,5,auto(s6),f,20,29,r,subcompact,9,24.5

In [67]:
compact_cars.sort_values(by=['class', 'highway'], ascending=[True, True]).head()

#lowest

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference,average_mileage
220,volkswagen,jetta,2.8,1999,6,auto(l4),f,16,23,r,compact,7,19.5
212,volkswagen,gti,2.8,1999,6,manual(m5),f,17,24,r,compact,7,20.5
221,volkswagen,jetta,2.8,1999,6,manual(m5),f,17,24,r,compact,7,20.5
9,audi,a4 quattro,1.8,1999,4,auto(l5),4,16,25,p,compact,9,20.5
12,audi,a4 quattro,2.8,1999,6,auto(l5),4,15,25,p,compact,10,20.0

In [68]:
compact_cars.sort_values(by=['class', 'highway'], ascending=[True, False]).head()

#best

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference,average_mileage
213,volkswagen,jetta,1.9,1999,4,manual(m5),f,33,44,d,compact,11,38.5
197,toyota,corolla,1.8,2008,4,manual(m5),f,28,37,r,compact,9,32.5
196,toyota,corolla,1.8,1999,4,manual(m5),f,26,35,r,compact,9,30.5
198,toyota,corolla,1.8,2008,4,auto(l4),f,26,35,r,compact,9,30.5
195,toyota,corolla,1.8,1999,4,auto(l4),f,24,33,r,compact,9,28.5

## J. Create a column named average_mileage that is the mean of the city and highway mileage.

In [45]:
mpg['average_mileage'] = (mpg.highway + mpg.city) / 2

mpg

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference,average_mileage
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11,25.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,9,23.5
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,8,25.0
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,10,21.0
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,8,22.0
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,9,21.5

## K. Which dodge car has the best average mileage? The worst?

In [61]:
dodge_cars = mpg[mpg['manufacturer'].str.contains('dodge')]

dodge_cars

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference,average_mileage
38,dodge,caravan 2wd,2.4,1999,4,auto(l3),f,18,24,r,minivan,6,21.0
39,dodge,caravan 2wd,3.0,1999,6,auto(l4),f,17,24,r,minivan,7,20.5
40,dodge,caravan 2wd,3.3,1999,6,auto(l4),f,16,22,r,minivan,6,19.0
41,dodge,caravan 2wd,3.3,1999,6,auto(l4),f,16,22,r,minivan,6,19.0
42,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,17,24,r,minivan,7,20.5
43,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,17,24,r,minivan,7,20.5
44,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,11,17,e,minivan,6,14.0
45,dodge,caravan 2wd,3.8,1999,6,auto(l4),f,15,22,r,minivan,7,18.5
46,dodge,caravan 2wd,3.8,1999,6,auto(l4),f,15,21,r,minivan,6,18.0
47,dodge,caravan 2wd,3.8,2008,6,auto(l6),f,16,23,r,minivan,7,19.5
48,dodge,caravan 2wd,4.0,2008,6,auto(l6),f,16,23,r,minivan,7,19.5
49,dodge,dakota pickup 4wd,3.7,2008,6,manual(m6),4,15,19,r,pickup,4,17.0
50,dodge,dakota pickup 4wd,3.7,2008,6,auto(l4),4,14,18,r,pickup,4,16.0
51,dodge,dakota pickup 4wd,3.9,1999,6,auto(l4),4,13,17,r,pickup,4,15.0
52,dodge,dakota pickup 4wd,3.9,1999,6,manual(m5),4,14,17,r,pickup,3,15.5
53,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,14,19,r,pickup,5,16.5
54,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,14,19,r,pickup,5,16.5
55,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup,3,10.5
56,dodge,dakota pickup 4wd,5.2,1999,8,manual(m5),4,11,17,r,pickup,6,14.0
57,dodge,dakota pickup 4wd,5.2,1999,8,auto(l4),4,11,15,r,pickup,4,13.0
58,dodge,durango 4wd,3.9,1999,6,auto(l4),4,13,17,r,suv,4,15.0
59,dodge,durango 4wd,4.7,2008,8,auto(l5),4,13,17,r,suv,4,15.0
60,dodge,durango 4wd,4.7,2008,8,auto(l5),4,9,12,e,suv,3,10.5
61,dodge,durango 4wd,4.7,2008,8,auto(l5),4,13,17,r,suv,4,15.0
62,dodge,durango 4wd,5.2,1999,8,auto(l4),4,11,16,r,suv,5,13.5
63,dodge,durango 4wd,5.7,2008,8,auto(l5),4,13,18,r,suv,5,15.5
64,dodge,durango 4wd,5.9,1999,8,auto(l4),4,11,15,r,suv,4,13.0
65,dodge,ram 1500 pickup 4wd,4.7,2008,8,manual(m6),4,12,16,r,pickup,4,14.0
66,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup,3,10.5
67,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,13,17,r,pickup,4,15.0
68,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,13,17,r,pickup,4,15.0
69,dodge,ram 1500 pickup 4wd,4.7,2008,8,manual(m6),4,12,16,r,pickup,4,14.0
70,dodge,ram 1500 pickup 4wd,4.7,2008,8,manual(m6),4,9,12,e,pickup,3,10.5
71,dodge,ram 1500 pickup 4wd,5.2,1999,8,auto(l4),4,11,15,r,pickup,4,13.0
72,dodge,ram 1500 pickup 4wd,5.2,1999,8,manual(m5),4,11,16,r,pickup,5,13.5
73,dodge,ram 1500 pickup 4wd,5.7,2008,8,auto(l5),4,13,17,r,pickup,4,15.0
74,dodge,ram 1500 pickup 4wd,5.9,1999,8,auto(l4),4,11,15,r,pickup,4,13.0

In [62]:
dodge_cars.sort_values(by='average_mileage').tail()

#best

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference,average_mileage
48,dodge,caravan 2wd,4.0,2008,6,auto(l6),f,16,23,r,minivan,7,19.5
43,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,17,24,r,minivan,7,20.5
42,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,17,24,r,minivan,7,20.5
39,dodge,caravan 2wd,3.0,1999,6,auto(l4),f,17,24,r,minivan,7,20.5
38,dodge,caravan 2wd,2.4,1999,4,auto(l3),f,18,24,r,minivan,6,21.0

In [63]:
dodge_cars.sort_values(by='average_mileage').head()

#worst

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference,average_mileage
70,dodge,ram 1500 pickup 4wd,4.7,2008,8,manual(m6),4,9,12,e,pickup,3,10.5
66,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup,3,10.5
60,dodge,durango 4wd,4.7,2008,8,auto(l5),4,9,12,e,suv,3,10.5
55,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup,3,10.5
74,dodge,ram 1500 pickup 4wd,5.9,1999,8,auto(l4),4,11,15,r,pickup,4,13.0

# 3. Load the Mammals dataset. Read the documentation for it, and use the data to answer these questions:

In [83]:
mammals = data('Mammals')

mammals

       weight  speed  hoppers  specials
1    6000.000   35.0    False     False
2    4000.000   26.0    False     False
3    3000.000   25.0    False     False
4    1400.000   45.0    False     False
5     400.000   70.0    False     False
6     350.000   70.0    False     False
7     300.000   64.0    False     False
8     260.000   70.0    False     False
9     250.000   40.0    False     False
10   3800.000   25.0    False      True
11   1000.000   60.0    False     False
12    900.000   70.0    False     False
13    900.000   56.0    False     False
14    800.000   29.0    False     False
15    750.000   57.0    False     False
16    500.000   32.0    False     False
17    450.000   56.0    False     False
18    300.000   72.0    False     False
19    300.000   90.0    False     False
20    250.000   80.0    False     False
21    250.000   56.0    False     False
22    170.000   80.0    False     False
23    150.000   48.0    False     False
24    130.000   70.0    False     False
25    120.000   80.0    False     False
26    120.000   61.0    False     False
27    110.000   33.0    False     False
28    100.000   64.0    False     False
29     85.000   55.0    False     False
30     80.000   65.0    False     False
31     72.000   56.0    False     False
32     70.000   45.0    False     False
33     65.000   60.0    False     False
34     62.000   81.0    False     False
35     50.000  100.0    False     False
36     50.000   60.0    False     False
37     50.000   40.0    False     False
38     50.000   47.0    False     False
39     37.000  105.0    False     False
40     35.000   80.0    False     False
41     34.000   97.0    False     False
42     30.000   97.0    False     False
43     30.000   80.0    False     False
44     30.000   45.0    False     False
45     20.000   81.0    False     False
46    400.000   40.0    False     False
47    300.000   48.0    False     False
48    230.000   56.0    False     False
49    150.000   59.0    False     False
50    135.000   48.0    False     False
51     65.000   65.0    False     False
52     60.000   60.0    False     False
53     55.000  110.0    False     False
54     45.000   50.0    False     False
55     40.000   64.0    False     False
56     25.000   67.0    False     False
57     20.000   70.0    False     False
58     16.000   65.0    False     False
59     12.000   24.0    False      True
60     11.000   30.0    False      True
61     10.000   56.0    False     False
62      7.000   60.0    False     False
63      6.000   72.0    False     False
64      5.000   64.0    False     False
65      5.000   27.0    False      True
66      3.000   16.0    False      True
67    127.000   32.0    False     False
68     70.000   40.0    False      True
69     13.000   37.0    False      True
70      9.000    3.2    False      True
71      4.000   16.0    False     False
72      0.600   36.0    False     False
73      0.600   20.0    False     False
74      0.550   27.0    False     False
75      0.500   18.0    False     False
76      0.400   20.0    False     False
77      0.300   13.0    False     False
78      0.250    9.7    False     False
79      0.220   15.0    False     False
80      0.110    9.0    False     False
81      0.100   17.0    False     False
82      0.056   21.0     True     False
83      0.050   11.0    False     False
84      0.045   16.0    False     False
85      0.035   32.0     True     False
86      0.035   14.0     True     False
87      0.030    6.8    False     False
88      0.030    9.1    False     False
89      0.025   11.0    False     False
90      0.025    8.6    False     False
91      0.018    8.9    False     False
92      0.016   13.0    False     False
93      0.100    4.0    False     False
94      0.100    2.4    False     False
95      0.016    3.6    False     False
96      4.600   64.0     True     False
97      4.400   72.0     True     False
98      4.000   72.0     True     False
99      3.500   56.0     True     False
100     2.000   64.0     True     False
101     1.900   56.0     True     False
102     1.500   50.0     True     False
103     1.500   40.0     True     False
104    50.000   65.0    False     False
105     5.000    7.4    False      True
106     0.024   13.0    False     False
107     4.000    1.6    False      True

In [82]:
data('Mammals', show_doc=True)

Mammals

PyDataset Documentation (adopted from R Documentation. The displayed examples are in R)

## Garland(1983) Data on Running Speed of Mammals

### Description

Observations on the maximal running speed of mammal species and their body
mass.

### Usage

    data(Mammals)

### Format

A data frame with 107 observations on the following 4 variables.

weight

Body mass in Kg for "typical adult sizes"

speed

Maximal running speed (fastest sprint velocity on record)

hoppers

logical variable indicating animals that ambulate by hopping, e.g. kangaroos

specials

logical variable indicating special animals with "lifestyles in which speed
does not figure as an important factor": Hippopotamus, raccoon (Procyon),
badger (Meles), coati (Nasua), skunk (Mephitis), man (Homo), porcupine
(Erithizon), oppossum (didelphis), and sloth (Bradypus)

### Details

Used by Chappell (1989) and Koenker, Ng and Portnoy (1994) to illustrate the
fitting of piecewise linear curves.

### Source

Garland, T. (1983) The relation between maximal running speed and body mass in
terrestrial mammals, _J. Zoology_, 199, 1557-1570.

### References

Koenker, R., P. Ng and S. Portnoy, (1994) Quantile Smoothing Splines”
_Biometrika_, 81, 673-680.

Chappell, R. (1989) Fitting Bent Lines to Data, with Applications ot
Allometry, _J. Theo. Biology_, 138, 235-256.

### See Also

`rqss`

### Examples

    data(Mammals)
    attach(Mammals)
    x <- log(weight)
    y <- log(speed)
    plot(x,y, xlab="Weight in log(Kg)", ylab="Speed in log(Km/hour)",type="n")
    points(x[hoppers],y[hoppers],pch = "h", col="red")
    points(x[specials],y[specials],pch = "s", col="blue")
    others <- (!hoppers & !specials)
    points(x[others],y[others], col="black",cex = .75)
    fit <- rqss(y ~ qss(x, lambda = 1),tau = .9)
    plot(fit)

## A. How many rows and columns are there?

In [84]:
mammals.shape

#107 rows, and 4 columns

(107, 4)

## B. What are the data types?

In [85]:
mammals.dtypes

weight      float64
speed       float64
hoppers        bool
specials       bool
dtype: object

## C. Summarize the dataframe with .info and .describe

In [86]:
mammals.info

<bound method DataFrame.info of        weight  speed  hoppers  specials
1    6000.000   35.0    False     False
2    4000.000   26.0    False     False
3    3000.000   25.0    False     False
4    1400.000   45.0    False     False
5     400.000   70.0    False     False
6     350.000   70.0    False     False
7     300.000   64.0    False     False
8     260.000   70.0    False     False
9     250.000   40.0    False     False
10   3800.000   25.0    False      True
11   1000.000   60.0    False     False
12    900.000   70.0    False     False
13    900.000   56.0    False     False
14    800.000   29.0    False     False
15    750.000   57.0    False     False
16    500.000   32.0    False     False
17    450.000   56.0    False     False
18    300.000   72.0    False     False
19    300.000   90.0    False     False
20    250.000   80.0    False     False
21    250.000   56.0    False     False
22    170.000   80.0    False     False
23    150.000   48.0    False     False
24    130.000   70.0    False     False
25    120.000   80.0    False     False
26    120.000   61.0    False     False
27    110.000   33.0    False     False
28    100.000   64.0    False     False
29     85.000   55.0    False     False
30     80.000   65.0    False     False
31     72.000   56.0    False     False
32     70.000   45.0    False     False
33     65.000   60.0    False     False
34     62.000   81.0    False     False
35     50.000  100.0    False     False
36     50.000   60.0    False     False
37     50.000   40.0    False     False
38     50.000   47.0    False     False
39     37.000  105.0    False     False
40     35.000   80.0    False     False
41     34.000   97.0    False     False
42     30.000   97.0    False     False
43     30.000   80.0    False     False
44     30.000   45.0    False     False
45     20.000   81.0    False     False
46    400.000   40.0    False     False
47    300.000   48.0    False     False
48    230.000   56.0    False     False
49    150.000   59.0    False     False
50    135.000   48.0    False     False
51     65.000   65.0    False     False
52     60.000   60.0    False     False
53     55.000  110.0    False     False
54     45.000   50.0    False     False
55     40.000   64.0    False     False
56     25.000   67.0    False     False
57     20.000   70.0    False     False
58     16.000   65.0    False     False
59     12.000   24.0    False      True
60     11.000   30.0    False      True
61     10.000   56.0    False     False
62      7.000   60.0    False     False
63      6.000   72.0    False     False
64      5.000   64.0    False     False
65      5.000   27.0    False      True
66      3.000   16.0    False      True
67    127.000   32.0    False     False
68     70.000   40.0    False      True
69     13.000   37.0    False      True
70      9.000    3.2    False      True
71      4.000   16.0    False     False
72      0.600   36.0    False     False
73      0.600   20.0    False     False
74      0.550   27.0    False     False
75      0.500   18.0    False     False
76      0.400   20.0    False     False
77      0.300   13.0    False     False
78      0.250    9.7    False     False
79      0.220   15.0    False     False
80      0.110    9.0    False     False
81      0.100   17.0    False     False
82      0.056   21.0     True     False
83      0.050   11.0    False     False
84      0.045   16.0    False     False
85      0.035   32.0     True     False
86      0.035   14.0     True     False
87      0.030    6.8    False     False
88      0.030    9.1    False     False
89      0.025   11.0    False     False
90      0.025    8.6    False     False
91      0.018    8.9    False     False
92      0.016   13.0    False     False
93      0.100    4.0    False     False
94      0.100    2.4    False     False
95      0.016    3.6    False     False
96      4.600   64.0     True     False
97      4.400   72.0     True     False
98      4.000   72.0     True     False
99      3.500   56.0     True     False
100     2.000   64.0     True     False
101     1.900   56.0     True     False
102     1.500   50.0     True     False
103     1.500   40.0     True     False
104    50.000   65.0    False     False
105     5.000    7.4    False      True
106     0.024   13.0    False     False
107     4.000    1.6    False      True>

In [87]:
mammals.describe

<bound method NDFrame.describe of        weight  speed  hoppers  specials
1    6000.000   35.0    False     False
2    4000.000   26.0    False     False
3    3000.000   25.0    False     False
4    1400.000   45.0    False     False
5     400.000   70.0    False     False
6     350.000   70.0    False     False
7     300.000   64.0    False     False
8     260.000   70.0    False     False
9     250.000   40.0    False     False
10   3800.000   25.0    False      True
11   1000.000   60.0    False     False
12    900.000   70.0    False     False
13    900.000   56.0    False     False
14    800.000   29.0    False     False
15    750.000   57.0    False     False
16    500.000   32.0    False     False
17    450.000   56.0    False     False
18    300.000   72.0    False     False
19    300.000   90.0    False     False
20    250.000   80.0    False     False
21    250.000   56.0    False     False
22    170.000   80.0    False     False
23    150.000   48.0    False     False
24    130.000   70.0    False     False
25    120.000   80.0    False     False
26    120.000   61.0    False     False
27    110.000   33.0    False     False
28    100.000   64.0    False     False
29     85.000   55.0    False     False
30     80.000   65.0    False     False
31     72.000   56.0    False     False
32     70.000   45.0    False     False
33     65.000   60.0    False     False
34     62.000   81.0    False     False
35     50.000  100.0    False     False
36     50.000   60.0    False     False
37     50.000   40.0    False     False
38     50.000   47.0    False     False
39     37.000  105.0    False     False
40     35.000   80.0    False     False
41     34.000   97.0    False     False
42     30.000   97.0    False     False
43     30.000   80.0    False     False
44     30.000   45.0    False     False
45     20.000   81.0    False     False
46    400.000   40.0    False     False
47    300.000   48.0    False     False
48    230.000   56.0    False     False
49    150.000   59.0    False     False
50    135.000   48.0    False     False
51     65.000   65.0    False     False
52     60.000   60.0    False     False
53     55.000  110.0    False     False
54     45.000   50.0    False     False
55     40.000   64.0    False     False
56     25.000   67.0    False     False
57     20.000   70.0    False     False
58     16.000   65.0    False     False
59     12.000   24.0    False      True
60     11.000   30.0    False      True
61     10.000   56.0    False     False
62      7.000   60.0    False     False
63      6.000   72.0    False     False
64      5.000   64.0    False     False
65      5.000   27.0    False      True
66      3.000   16.0    False      True
67    127.000   32.0    False     False
68     70.000   40.0    False      True
69     13.000   37.0    False      True
70      9.000    3.2    False      True
71      4.000   16.0    False     False
72      0.600   36.0    False     False
73      0.600   20.0    False     False
74      0.550   27.0    False     False
75      0.500   18.0    False     False
76      0.400   20.0    False     False
77      0.300   13.0    False     False
78      0.250    9.7    False     False
79      0.220   15.0    False     False
80      0.110    9.0    False     False
81      0.100   17.0    False     False
82      0.056   21.0     True     False
83      0.050   11.0    False     False
84      0.045   16.0    False     False
85      0.035   32.0     True     False
86      0.035   14.0     True     False
87      0.030    6.8    False     False
88      0.030    9.1    False     False
89      0.025   11.0    False     False
90      0.025    8.6    False     False
91      0.018    8.9    False     False
92      0.016   13.0    False     False
93      0.100    4.0    False     False
94      0.100    2.4    False     False
95      0.016    3.6    False     False
96      4.600   64.0     True     False
97      4.400   72.0     True     False
98      4.000   72.0     True     False
99      3.500   56.0     True     False
100     2.000   64.0     True     False
101     1.900   56.0     True     False
102     1.500   50.0     True     False
103     1.500   40.0     True     False
104    50.000   65.0    False     False
105     5.000    7.4    False      True
106     0.024   13.0    False     False
107     4.000    1.6    False      True>

## D. What is the the weight of the fastest animal?

In [91]:
mammals.sort_values(by='speed').tail(1)['weight']

53    55.0
Name: weight, dtype: float64

## E. What is the overal percentage of specials?

In [94]:
specials = mammals['specials']

specials

1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10      True
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
30     False
31     False
32     False
33     False
34     False
35     False
36     False
37     False
38     False
39     False
40     False
41     False
42     False
43     False
44     False
45     False
46     False
47     False
48     False
49     False
50     False
51     False
52     False
53     False
54     False
55     False
56     False
57     False
58     False
59      True
60      True
61     False
62     False
63     False
64     False
65      True
66      True
67     False
68      True
69      True
70      True
71     False
72     False
73     False
74     False
75     False
76     False
77     False
78     False
79     False
80     False
81     False
82     False
83     False
84     False
85     False
86     False
87     False
88     False
89     False
90     False
91     False
92     False
93     False
94     False
95     False
96     False
97     False
98     False
99     False
100    False
101    False
102    False
103    False
104    False
105     True
106    False
107     True
Name: specials, dtype: bool

In [108]:
len(specials)

107

In [105]:
count_specials = len(specials[specials == True])

count_specials

10

In [106]:
(count_specials / (len(specials))) * 100

9.345794392523365

In [109]:
((mammals.specials.sum() / len(mammals)) * 100)

9.345794392523365

## F. How many animals are hoppers that are above the median speed? What percentage is this?

In [112]:
mammals['speed'].median()

48.0

In [113]:
mammals['faster_than_median'] = mammals['speed'] > mammals['speed'].median()

mammals

       weight  speed  hoppers  specials  faster_than_median
1    6000.000   35.0    False     False               False
2    4000.000   26.0    False     False               False
3    3000.000   25.0    False     False               False
4    1400.000   45.0    False     False               False
5     400.000   70.0    False     False                True
6     350.000   70.0    False     False                True
7     300.000   64.0    False     False                True
8     260.000   70.0    False     False                True
9     250.000   40.0    False     False               False
10   3800.000   25.0    False      True               False
11   1000.000   60.0    False     False                True
12    900.000   70.0    False     False                True
13    900.000   56.0    False     False                True
14    800.000   29.0    False     False               False
15    750.000   57.0    False     False                True
16    500.000   32.0    False     False               False
17    450.000   56.0    False     False                True
18    300.000   72.0    False     False                True
19    300.000   90.0    False     False                True
20    250.000   80.0    False     False                True
21    250.000   56.0    False     False                True
22    170.000   80.0    False     False                True
23    150.000   48.0    False     False               False
24    130.000   70.0    False     False                True
25    120.000   80.0    False     False                True
26    120.000   61.0    False     False                True
27    110.000   33.0    False     False               False
28    100.000   64.0    False     False                True
29     85.000   55.0    False     False                True
30     80.000   65.0    False     False                True
31     72.000   56.0    False     False                True
32     70.000   45.0    False     False               False
33     65.000   60.0    False     False                True
34     62.000   81.0    False     False                True
35     50.000  100.0    False     False                True
36     50.000   60.0    False     False                True
37     50.000   40.0    False     False               False
38     50.000   47.0    False     False               False
39     37.000  105.0    False     False                True
40     35.000   80.0    False     False                True
41     34.000   97.0    False     False                True
42     30.000   97.0    False     False                True
43     30.000   80.0    False     False                True
44     30.000   45.0    False     False               False
45     20.000   81.0    False     False                True
46    400.000   40.0    False     False               False
47    300.000   48.0    False     False               False
48    230.000   56.0    False     False                True
49    150.000   59.0    False     False                True
50    135.000   48.0    False     False               False
51     65.000   65.0    False     False                True
52     60.000   60.0    False     False                True
53     55.000  110.0    False     False                True
54     45.000   50.0    False     False                True
55     40.000   64.0    False     False                True
56     25.000   67.0    False     False                True
57     20.000   70.0    False     False                True
58     16.000   65.0    False     False                True
59     12.000   24.0    False      True               False
60     11.000   30.0    False      True               False
61     10.000   56.0    False     False                True
62      7.000   60.0    False     False                True
63      6.000   72.0    False     False                True
64      5.000   64.0    False     False                True
65      5.000   27.0    False      True               False
66      3.000   16.0    False      True               False
67    127.000   32.0    False     False               False
68     70.000   40.0    False      True               False
69     13.000   37.0    False      True               False
70      9.000    3.2    False      True               False
71      4.000   16.0    False     False               False
72      0.600   36.0    False     False               False
73      0.600   20.0    False     False               False
74      0.550   27.0    False     False               False
75      0.500   18.0    False     False               False
76      0.400   20.0    False     False               False
77      0.300   13.0    False     False               False
78      0.250    9.7    False     False               False
79      0.220   15.0    False     False               False
80      0.110    9.0    False     False               False
81      0.100   17.0    False     False               False
82      0.056   21.0     True     False               False
83      0.050   11.0    False     False               False
84      0.045   16.0    False     False               False
85      0.035   32.0     True     False               False
86      0.035   14.0     True     False               False
87      0.030    6.8    False     False               False
88      0.030    9.1    False     False               False
89      0.025   11.0    False     False               False
90      0.025    8.6    False     False               False
91      0.018    8.9    False     False               False
92      0.016   13.0    False     False               False
93      0.100    4.0    False     False               False
94      0.100    2.4    False     False               False
95      0.016    3.6    False     False               False
96      4.600   64.0     True     False                True
97      4.400   72.0     True     False                True
98      4.000   72.0     True     False                True
99      3.500   56.0     True     False                True
100     2.000   64.0     True     False                True
101     1.900   56.0     True     False                True
102     1.500   50.0     True     False                True
103     1.500   40.0     True     False               False
104    50.000   65.0    False     False                True
105     5.000    7.4    False      True               False
106     0.024   13.0    False     False               False
107     4.000    1.6    False      True               False

In [121]:
fast_hoppers = mammals[(mammals['hoppers'] == True) & (mammals['faster_than_median'] == True)]

fast_hoppers

     weight  speed  hoppers  specials  faster_than_median
96      4.6   64.0     True     False                True
97      4.4   72.0     True     False                True
98      4.0   72.0     True     False                True
99      3.5   56.0     True     False                True
100     2.0   64.0     True     False                True
101     1.9   56.0     True     False                True
102     1.5   50.0     True     False                True

In [123]:
amount_of_fast_hoppers = len(fast_hoppers)

amount_of_fast_hoppers

7

In [124]:
percentage_of_fast_hoppers = (amount_of_fast_hoppers / (len(mammals))) * 100

percentage_of_fast_hoppers

6.5420560747663545